.field {
  margin-bottom: 16px;
}

.field label {
  display: inline-block;
  margin-bottom: 8px;
  color: #ffffff;
  font-weight: 600;
}

.modal-actions .button {
  width: 100%;
}

.input {
  background-color: #333333;
  border: 1px solid #444444;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 12px;
  margin: 8px 0;
}
.input:focus {
  outline: none;
  border-color: #007bff;
}
.select {
  background-color: #333333;
  border: 1px solid #444444;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 12px;
  margin: 8px 0;
}
.select:focus {
  outline: none;
  border-color: #007bff;
}
.option {
  background-color: #333333;
  color: #ffffff;
}

.strongFadeEffect {
  animation: strongFadeOutIn 0.5s ease-in-out;
}

.glowEffect {
  animation: textGlow 0.5s ease-in-out;
}

@keyframes textGlow {
  0%,
  100% {
    text-shadow: none;
    opacity: 1;
  }
  50% {
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #ff00ff;
    opacity: 0.3;
  }
}
