.table {
  border-collapse: collapse;
  width: 100%;
  background-color: #242424;
  color: #f1f1f1;
}

.th,
.td {
  border: 1px solid #444;
  text-align: left;
  padding: 12px;
}

.tr {
  margin-top: 8px;
  margin-bottom: 8px;
}

.th {
  background-color: #333;
  color: #fff;
}

.table:nth-child(even) {
  background-color: #333;
}
