.button {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: auto;
  outline: none;
  border-radius: 6px;
  padding: 0 16px;
  background-color: hsl(200 98% 39%);
  color: white;
  font-size: 16px;
  line-height: 0;
  transition: 250ms background-color;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: hsl(200, 36%, 25%);
}
.button.disabled {
  opacity: 0.5;
  cursor: initial;
}
.button.disabled:hover {
  background-color: hsl(200 98% 39%);
}
